html {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-bg {
    background: url(../img/636805958.gif) no-repeat center center fixed;
}


.shop-bg {

    background: url(../img/img.jpg) no-repeat center center fixed;
}

.about-bg {
    background: url(../img/IMG_1706.JPG) no-repeat center center fixed;
}

.contact-bg {

    background: url(../img/img2.JPG) no-repeat center center fixed;
}

.whoweare-bg {
    background: url(../img/DSC_1083.JPG) no-repeat center center fixed;
}




.fa {
    padding: 7px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}





















/*________________ NAVIGATION CSS ___________ */

.topnav {
    overflow: hidden;
    margin-top: 60px;
}



.topnav a {
    float: left;
    display: inline-block;
    font-family: 'Rubik', serif;
    text-align: center;
    width: 200px;
    padding: 20px;
    font-size: 16px;
    text-decoration: dotted;
    color: #FFFFFF;
}

.topnav a:first-child {
    margin-top: 0px;
    padding-top: 0px;
}




.topnav a:not(:first-child):hover {
    box-shadow: 0 3px 0 rgba(159, 205, 97, 1);
    text-decoration: none;
    padding-bottom: 5px;
}


.topnav a.active {
    color: rgb(233, 44, 156);
}

.topnav .icon {
    display: none;
}


#logo {
    vertical-align: middle;
}





















/*________________ BODY________________ */

h1.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font: 90px 'Manuale', serif;
    color: rgba(248, 248, 255, 0.8);
}

a.button {
    position: fixed;
    top: 70%;
    left: 45%;
    font: 40px 'Rubik', cursive;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(225, 225, 225, 0.2);
    background-color: rgba(233, 44, 156, 0.6);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.footerhome {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-family: Rubik;
    background-color: rgba(233, 44, 156, 0.0);
    color: white;
    font-size: 14px;
}

@media only screen and (max-width: 900px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        background: black;
    }


    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    h1.centered {
        font-size: 40px;
    }
}


p.footerhome {
    display: inline-block;
}

ul.social_icons {
    margin-top: -23px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 25%;
    list-style: none;
    float: right;
    text-decoration: none;
    display: inline-block;
}

li {
    display: inline;
}