html {
    background: url(../img/img.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}



























/*________________ NAVIGATION CSS ___________ */

.topnav {
    overflow: hidden;
    margin-top: 60px;
}



.topnav a {
    float: left;
    display: inline-block;
    font-family: 'Rubik', serif;
    text-align: center;
    width: 200px;
    padding: 20px;
    font-size: 16px;
    text-decoration: dotted;
    color: #FFFFFF;
}

.topnav a:first-child {
    margin-top: 0px;
    padding-top: 0px;
}




.topnav a:not(:first-child):hover {
    box-shadow: 0 3px 0 rgba(159, 205, 97, 1);
    text-decoration: none;
    padding-bottom: 5px;
}


.topnav a.active {
    color: rgb(233, 44, 156);
}

.topnav .icon {
    display: none;
}


#logo {
    vertical-align: middle;
}

















/*________________ BODY________________ */

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Coustard', serif;
}


.space {
    display: block;
    width: 100%;
    height: 100px;
    border: 10px;
}

.headings {
    width: 100%;
    min-height: 120px;
    border-bottom: 10px;
    background-color: rgb(233, 44, 156);
}

.headings h1 {
    text-align: center;
    font-family: 'Rubik', serif;
    font-size: 80px;
    color: white;
}





/* GALLERY CSS */

div.gallery {}



div.gallery img {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    transition: all 0.4s ease-in-out;
}

div.gallery img:hover {
    opacity: 0.8;
}

* {
    box-sizing: border-box;
}

.gresponsive {
    padding: 0 10px;
    float: left;
    width: calc(100%/3);
}







/* MODAL WINDOW */

.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.15);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background: #fff;
    color: #444;
}

.modal-window header {
    font-weight: bold;
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover {
    color: #000;
}

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 900px) {
    .gresponsive {
        width: 50%;
        margin: 6px 0;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        background: black;
    }


    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}



.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-family: Rubik;
    background-color: rgba(233, 44, 156, 0.0);
    color: white;
    font-size: 14px;
}


































}

@media only screen and (max-width: 600px) {
    .gresponsive {
        width: 100%;
    }
}





.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


ul.social_icons {
    margin-top: -23px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 25%;
    list-style: none;
    float: right;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

li {
    display: inline;
}